# Server Configuration
PORT=9090

# Database Configuration (MySQL)
# Example for Railway: jdbc:mysql://crossover.proxy.rlwy.net:12345/railway
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
